In [1]:
import sqlite3 as sql 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
conn = sql.connect('App.db')
cursor = conn.cursor()

In [6]:
df = pd.read_sql_query("SELECT * FROM Veiculos", conn)
df

Empty DataFrame
Columns: [id, marca, modelo, ano]
Index: []

In [5]:
cursor.execute(' alter table Perfil drop column idade')

In [3]:
cursor.execute('''
               
           Create table if not exists Perfil(
               
               id INTEGER PRIMARY KEY autoincrement,
               nome text not null,
               idade integer not null, 
               email text not null unique 
               
               
               )    
               
               
               
               
               ''')